* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-color: lightskyblue;
  background-image: url("../images/clouds.jpg");
  background-position: center;
  color: lightslategray;
}

.city-name {
  align-self: flex-end;
  padding: 1rem;
  font-size: 2.5rem;
  flex: 1;
}

.temp-container {
  font-size: 4rem;
  flex: 2;
}

.description {
  font-size: 1.2rem;
  text-align: center;
}
.bottom {
  display: flex;
  background-color: slategray;
  height: 40vh;
  align-items: center;
}

ul#forecast {
  display: flex;
  font-size: 1.2rem;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 1rem;
}

li {
  width: 10rem;
}

.weather-card {
  color: white;
}

.weather-icon {
  display: block;
  margin-top: 1rem;

  margin: 1rem auto;
  text-align: center;
  color: lightseagreen;
}

.day {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.temperature {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.loading-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 8px rgba(0, 0, 0, 0);
  border-top: solid 8px #999;
  border-bottom: solid 8px #999;
  /* border-bottom: solid 8px #999; */
  animation: 1s linear infinite loading-rotate;
}

@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

#zipcode-dialog {
  position: absolute;
  top: 35px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  width: 200px;
  padding: 1rem;
  display: none;
}

input#zipcode-input {
  font-size: 1.2rem;
  padding: 0.2rem;
}

.dialog-error {
  color: white;
  background-color: lightcoral;
  font-size: 1rem;
  display: none;
  border: solid 2px white;
  padding: 0.5rem;
}

.btn {
  font-size: 1.2rem;
  padding: 0.2rem;
}
